body {
  background-color: black !important;
  padding-top: 33px;
  padding-bottom: 33px;
}

nav {
  height: 150px;
}

.nav-icons {
  display: flex;
  justify-content: center;
  margin: 11px 33px 11px 33px;
}

.fab {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0px 16px 0px 16px;
}

.nav-h1 {
  display: flex;
  justify-content: center;
  margin: 21px;
  letter-spacing: 3.3px;
}

.fab:hover {
  color: #3fa0c4;
}

.fa-spotify {
  color: white;
}

.fa-itunes-note {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-facebook {
  color: white;
}

.fa-soundcloud {
  color: white;
}

.fa-imdb {
  color: white;
}

#album-cover {
  width: 500px;
  height: 500px;
  margin: auto;
}

#album-cover:hover {
  opacity: 0.9;
}

.release-btn {
  background-color: #3fa0c4 !important;
  margin: auto;
  padding: 11px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.release-btn:hover {
  opacity: 0.9;
}

.concerts {
  margin-top: 100px;
}

@media only screen and (max-width: 1000px) {
  #album-cover {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  #album-cover {
    width: 250px;
    height: 250px;
  }
}